*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.sectionalpha{
  background-image: url("../images/banner_onef.jpg");
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}
.sectionalpha .sosodata .maindata h1{
color: white;
text-align: center;
}

.sectionalpha .sosodata .maindata h2{
  color: #45f3ff;
  text-align: center;
  }
  /*  */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999999999999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 5px 3px 25px white;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    font-size: 12px;
  }
  
  .sidenav a:hover {
    color: #45f3ff;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }